{% extends 'layout.html' %}
{% block title %}{% endblock %}
{% block content %}
  <div class="container">
    <h1>{{ title }}</h1>
    <p>We gonna get some puppies</p>
    <h1>Showing puppies</h1>

    <div class="alert alert-success" role="alert">
      <p>{{ success }}</p>
    </div>

    <div class="bs-example" data-example-id="striped-table">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>ID</th>
          </tr>
        </thead>
        <tbody>
          {% for puppy in puppies %}
            <tr>
              <td>{{ puppy.name }}</td>
              <td>{{ puppy.id }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <form action="/">
      <input class="btn btn-general" type="submit" value="Add more puppies">
    </form>
  </div>
{% endblock %}
